In [25]:
#tuple кортеж - не змінюється

t = (1,2,3)

In [3]:
type(t)

tuple

In [5]:
t[0]

1

In [6]:
t[1]

2

In [7]:
my_list = [1, 'a', 'b', 2]

In [12]:
t.count(1)

1

In [17]:
t = ('a', 'a', 'b', 'c')

In [14]:
t.count('a')

2

In [15]:
t.index('b')

2

In [16]:
t.index('a')

0

In [18]:
my_list

[1, 'a', 'b', 2]

In [19]:
my_list[0] = 'NEW'

In [20]:
my_list

['NEW', 'a', 'b', 2]

In [21]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [22]:
#set множина - неупорядковані об'єкти

In [23]:
myset = set()

In [24]:
myset

set()

In [26]:
myset.add(1)

In [27]:
myset

{1}

In [28]:
myset.add(2)

In [29]:
myset

{1, 2}

In [31]:
mylist = [1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,333,3,3,44,4,4,4,4444,4]

In [33]:
set(mylist)
# сет зберігає унікальні значення

{1, 2, 3, 4, 44, 333, 4444}

In [34]:
newlist = ['aa', 'aa', 12, 12.4, 'AA', 'AAb', 131]

In [35]:
set(newlist)

{12, 12.4, 131, 'AA', 'AAb', 'aa'}

In [36]:
# boolian

In [37]:
True

True

In [38]:
False

False

In [39]:
None

In [40]:
1 > 2

False

In [41]:
1 == 1

True

In [42]:
b = None

In [43]:
b

In [44]:
# dicts словники - неопорядковане відображення обєктів ключ:значення

In [45]:
{'key1':'value1', 'key2':'value2'}

{'key1': 'value1', 'key2': 'value2'}

In [46]:
dict = {'key1':'value1', 'key2':'value2'}

In [47]:
dict

{'key1': 'value1', 'key2': 'value2'}

In [48]:
dict['key1']

'value1'

In [49]:
dict['value1']

KeyError: 'value1'

In [52]:
price_lookup = {'apple':2.5,'orange':1.99,'milk':5.8}

In [53]:
price_lookup['milk']

5.8

In [54]:
d = {'k1':123, 'k2':[0,1,2,4,5,'aa'],'k3':{'insideKey':100}}

In [55]:
d

{'k1': 123, 'k2': [0, 1, 2, 4, 5, 'aa'], 'k3': {'insideKey': 100}}

In [56]:
d['k2']

[0, 1, 2, 4, 5, 'aa']

In [61]:
d['k2'][5]

'aa'

In [62]:
d['k3']

{'insideKey': 100}

In [63]:
d['k3']['insideKey']

100

In [64]:
d = {'k1':123, 'k2':[0,1,2,4,5,'aa'],'k3':{'insideKey':100, 'insideKey2':['aaa','inside value']}}

In [65]:
d

{'k1': 123,
 'k2': [0, 1, 2, 4, 5, 'aa'],
 'k3': {'insideKey': 100, 'insideKey2': ['aaa', 'inside value']}}

In [68]:
d['k3']['insideKey2'][1]

'inside value'

In [69]:
d = {'key1':['a','b','c']}

In [70]:
d

{'key1': ['a', 'b', 'c']}

In [71]:
mylist = d['key1']

In [72]:
mylist

['a', 'b', 'c']

In [73]:
letter = mylist[2]

In [74]:
letter

'c'

In [77]:
d1 = {'name':111}
d2 = {'secondname':222}
d3 = {'third':333}

In [78]:
d1['name'] = 'Liuda'

In [79]:
d1

{'name': 'Liuda'}

In [80]:
d = {'k1':123, 'k2':[0,1,2,4,5,'aa'],'k3':{'insideKey':100, 'insideKey2':['aaa','inside value']}}

In [81]:
d.keys()

dict_keys(['k2', 'k3', 'k1'])

In [82]:
d.values()

dict_values([[0, 1, 2, 4, 5, 'aa'], {'insideKey': 100, 'insideKey2': ['aaa', 'inside value']}, 123])

In [83]:
d.items()

dict_items([('k2', [0, 1, 2, 4, 5, 'aa']), ('k3', {'insideKey': 100, 'insideKey2': ['aaa', 'inside value']}), ('k1', 123)])

In [84]:
new = (d1,d2,d3)

In [85]:
new

({'name': 'Liuda'}, {'secondname': 222}, {'third': 333})

In [90]:
new = {'key1':{}, 'key2':{}, 'key3':{}}

In [91]:
new['key1'] = d1

In [92]:
new

{'key1': {'name': 'Liuda'}, 'key2': {}, 'key3': {}}

In [93]:
new['key2'] = d2

In [94]:
new

{'key1': {'name': 'Liuda'}, 'key2': {'secondname': 222}, 'key3': {}}

In [95]:
my_dict = {'k1':12, 'k2':10.3, 'k3':'q', 'k4':'q', 'k5':(1,2), 'k6':[1,1,2,3], 'k7':{'kk1':1, 'kk2':{}}}

In [96]:
my_dict

{'k1': 12,
 'k2': 10.3,
 'k3': 'q',
 'k4': 'q',
 'k5': (1, 2),
 'k6': [1, 1, 2, 3],
 'k7': {'kk1': 1, 'kk2': {}}}

In [97]:
new_my_dict = {'kk3': 1444}

In [98]:
my_dict['k7']['kk2'] = new_my_dict

In [99]:
my_dict

{'k1': 12,
 'k2': 10.3,
 'k3': 'q',
 'k4': 'q',
 'k5': (1, 2),
 'k6': [1, 1, 2, 3],
 'k7': {'kk1': 1, 'kk2': {'kk3': 1444}}}