In [1]:
2==2

True

In [2]:
2==1

False

In [4]:
23==1

False

In [6]:
# присвоєння значення =
# перевірка вірності ==
# додатково перевіряти чи це присвоєння, чи порівняння

In [7]:
'bye' == 'Bye'

False

In [8]:
'2' == 2

False

In [9]:
2.0 == 2

True

In [10]:
3 != 3

False

In [11]:
3 == 3

True

In [12]:
4 != 5

True

In [13]:
2 > 1

True

In [14]:
2 >= 2

True

In [15]:
10 == 5*2

True

In [20]:
True != False

True

In [21]:
12 >= 11

True

In [22]:
2.34 <= 1.23

False

In [36]:
'a' <= 'a'

True

In [32]:
[1,2,3] > [1]

True

In [34]:
1 < 2 and 3 < 4

True

In [37]:
True and True

True

In [38]:
True and False

False

In [40]:
False and True

False

In [41]:
False and False

False

In [44]:
1 < 2 and 2 < 3

True

In [45]:
1 < 2 < 3

True

In [46]:
1==1 or 2==3

True

In [47]:
True or True

True

In [48]:
True or False

True

In [49]:
False or True

True

In [50]:
False or False

False

In [52]:
100==1 or 200==2

False

In [53]:
not 1==1

False

In [54]:
not False

True

In [65]:
not 100 != 10*10

True

In [56]:
3 >= 3 < 4

True

In [57]:
'qqq' != 'QQQ'

True

In [58]:
'a' != 'A' and not 3 == 2+2

True

In [64]:
45>=46 or 23==23

True

In [69]:
'qqq' == 'QQQ'.lower()

True

In [70]:
d = 777

if d != None:
    print('Have a nice day')

Have a nice day

In [72]:
d = None

if d != None:
    print('Have a nice day')
else:
    print('Hello!')

Hello!

In [76]:
d = 777

if d != 777:
    print('Have a nice day')
elif d == 777:
    print('Its your lucky day!')
else:
    print('Hello!')

Its your lucky day!

In [83]:
a = 10

if a*2 <= 1:
    print('Hi!')
elif a > 3:
    print('How are you?')
else:
    print('Hello!')

How are you?

In [84]:
if True:
    print('its true!')

its true!

In [85]:
hungry = True

if hungry:
    print('Please feed me!')

Please feed me!

In [87]:
hungry = False

if hungry:
    print('Please feed me!')
else:
    print('LOL')

LOL

In [89]:
location = 'Bank'

if location == 'Auto shop':
    print('Cars are cool')
else:
    print('So what?')

So what?

In [90]:
location = 'Bank'

if location == 'Auto shop':
    print('Cars are cool')
elif location == 'Bank':
    print('Monay is cool!')
else:
    print('So what?')

Monay is cool!

In [100]:
#name = 'Liuda'
#name = 'Lila'
#name = 'Lola'
name = 1

if name == 'Liuda':
    print('Hi {}!'.format(name))
elif name == 'Lila':
    print('How are you {}?'.format(name))
elif name == 'Lola':
    print('Have a nice day')
else:
    print('Hello stranger!')

Hello stranger!

In [101]:
l = [1,2,3,4,5,6,7,8,9,10]

for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [102]:
l = [12, 10.2323, 'qqq', [0,1], {'k1':1,'k2':2}, (1,2)]

for n in l:
    print(n)

12
10.2323
qqq
[0, 1]
{'k2': 2, 'k1': 1}
(1, 2)

In [103]:
print(l)

[12, 10.2323, 'qqq', [0, 1], {'k2': 2, 'k1': 1}, (1, 2)]

In [104]:
for letter in 'This is a string':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [106]:
for letter in 'Have a nice day!':
    print(letter)

H
a
v
e

a

n
i
c
e

d
a
y
!

In [107]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [109]:
tup = ('a', 'b', 'b', 'c', 'd')

for t in tup:
    print(t)

a
b
b
c
d

In [122]:
l = [(2,4), (6,8), (10,11)]

i = 0
for tup in l:
    i+=1 #i=i+1
    print('iteration: '+str(i)+'  value: '+str(tup))

iteration: 1  value: (2, 4)
iteration: 2  value: (6, 8)
iteration: 3  value: (10, 11)

In [111]:
# кожен крок циклу це - ітерація

In [125]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k2
k1
k3

In [128]:
my_dict = {'k1':1, 'k2':2, 'k3':3}

for key, value in  my_dict.items():
    print(key)
    print(value)

k2
2
k1
1
k3
3

In [129]:
my_dict.items()

dict_items([('k2', 2), ('k1', 1), ('k3', 3)])

In [135]:
my_dict = {'k1':'qqq', 'k2':211, 'k3':[1,2], 'k4':{'k11':11, 'k22':22}}

for key, value in  my_dict.items():
    print(key)
    print(value)

k4
{'k11': 11, 'k22': 22}
k2
211
k1
qqq
k3
[1, 2]

In [137]:
x = 0

while x<10:
    print('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [140]:
x = 0

while x<5:
    print('x is currently: ', x)
    print('x is still less than 5, adding 1 to x')
    x+=1
else:
    print('All done!')

x is currently:  0
x is still less than 5, adding 1 to x
x is currently:  1
x is still less than 5, adding 1 to x
x is currently:  2
x is still less than 5, adding 1 to x
x is currently:  3
x is still less than 5, adding 1 to x
x is currently:  4
x is still less than 5, adding 1 to x
All done!

In [142]:
x = 0

while x < 10:
    print('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
x is still less than 10, adding 1 to x
continuing...
x is currently:  1
x is still less than 10, adding 1 to x
continuing...
x is currently:  2
x is still less than 10, adding 1 to x
x==3